.btn.blocky:first-child {
    margin-right: 1em;
}

.jumbotronImg {
    height: 68vh;
    object-fit: cover;
    object-position: top;
}

@media (max-width: 900px) {
    .blockyParent {
        display: flex;
        justify-content: space-evenly;
    }

    .btn.blocky {
        border-radius: 0.5em;
    }

    .jumbotronImg {
        height: unset;
    }
}